.footer {
  background-color: #000;
  color: #fff;
  padding: 40px 20px;
  font-family: "Ogirema", sans-serif;
}

.footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.footer-nav li {
  margin-bottom: 10px;
}

.footer-nav li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  transition: color 0.3s ease;
}

.footer-nav li a:hover {
  color: #fb8500;
}

.footer-policies {
  margin-top: 20px;
  font-size: 14px;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.footer-policies a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-policies a:hover {
  color: #fb8500;
}

.footer-social {
  margin-top: 5px;
  text-align: center;
}

.footer-social .social-icon {
  color: #fb8500;
  margin: 0 10px;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-social .social-icon:hover {
  color: #fbaf57;
}

.footer-copyright {
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .footer-nav {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  .footer-nav li {
    margin: 0;
  }

  .footer-policies {
    justify-content: flex-start;
  }

  .footer-social {
    text-align: right;
  }

  .footer-copyright {
    text-align: right;
  }
}

@media (max-width: 768px) {
  .footer-nav,
  .footer-policies,
  .footer-social,
  .footer-copyright {
    text-align: center;
  }

  .footer-nav li {
    display: inline-block;
    margin: 5px;
  }

  .footer-social {
    margin-bottom: 10px;
  }
}
