.branch-container {
  text-align: center;
  color: #ffffff;
  background-color: #000;
}

/* .branch-header {
  padding: 285px 0 30px;
  height: 90vh;
  background-image: url("../img/fish.jpg");
  background-size: cover;
  background-position: center 10%;
  position: relative;
}

.branch-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 0;
} */

.menu-section {
  padding: 200px 20px;
  background-image: url("../img/black.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

.menu-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  pointer-events: none;
}

.menu-section > * {
  position: relative;
  z-index: 2;
}

.menu-title {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.menu-location {
  font-size: 2.6rem;
  font-weight: 600;
  color: #ff8c00;
}

.menu-location-link {
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 20px;
}

.menu-categories {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin: 50px 0;
}

.menu-categories span {
  cursor: pointer;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.menu-categories span:hover {
  color: #fb8500;
}

.menu-categories .active {
  color: #ff8c00;
  font-weight: 600;
}

.menu-categories .active:hover {
  color: #fbaf57;
}

.menu-category {
  margin: 30px 0;
}

.menu-subcategory-title {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  border-bottom: 1px solid #666;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
  display: inline-block;
  width: 50%;
}

.menu-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  font-size: 1rem;
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.menu-item-content {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 0 auto;
  transition: color 0.3s ease;
}

.item-name,
.item-price {
  font-size: 1.2rem;
  margin: 0;
  text-align: left;
  transition: color 0.3s ease;
}

.menu-item:hover .item-name {
  color: #ff8c00;
}

.item-hover-content {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #222;
  padding: 15px;
  border-radius: 5px;
  width: 250px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
  z-index: 1;
  text-align: left;
}

.item-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.item-description {
  font-size: 1rem;
  color: #bbbbbb;
}
