.login-page {
  position: relative;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.login-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/loginbg.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.login-box {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 35px;
  color: white;
  width: 450px;
  height: 450px;
  margin: auto;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

.brand-logo img {
  width: 180px;
  height: auto;
  margin-bottom: 25px;
}

.form-control {
  border-radius: 4px;
  margin-top: 15px;
  padding: 10px;
}

.login-title {
  font-size: 2rem;
  margin-bottom: 30px;
}

.brand-name {
  font-size: 2.5rem;
  color: #fb8500;
}

.login-page .forgot-password-link a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;
  margin-top: 10px;
  font-size: 16px;
  transition: color 0.3s ease;
}

.login-page .forgot-password-link a:hover {
  color: #fb8500;
}

.login-button {
  font-weight: bold;
  width: 100%;
  background-color: #fb8500;
  padding: 8px;
  font-size: 1.125rem;
  border: none;
  border-radius: 4px;
  margin-top: 25px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-button:hover {
  background-color: #f89e38;
}

.register-link {
  margin-top: 20px;
  color: white;
}

.register-link a {
  color: #fb8500;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

.form-control:focus {
  box-shadow: none;
  outline: 0;
  border-color: white;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
